html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #00539F;
}

body {
  width: 450px;
  margin: 10 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 20px solid black;
}

h1 {
  font-family: "Redressed", sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 5px black;
}

img {
  display: block;
  width: 400px;
  margin: 0 auto;

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}